Django==5.2.4
djangorestframework==3.16.1
django-cors-headers==4.5.0
channels==4.2.0
channels-redis==4.2.0
celery==5.5.3
redis==5.2.0
psycopg==3.2.3
psutil==6.1.0
pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
loguru==0.7.3
python-dotenv==1.0.1